@using qodeless.application.ViewModels
@model IEnumerable<IncomeTypeViewModel>

<fieldset class="fieldset">
    <legend>Tipo de Receita</legend>
    <div class="row-fluid">
        <div class="span6">
            @Html.AntiForgeryToken()
            <table id="dt" class="dt table-responsive-sm table table-striped table-bordered" style="width:100%"
                   data-cols="name,code"
                   data-what="IncomeType"
                   data-main-col="name"
                   data-edit-url="/IncomeType/Upsert"
                   data-create-url="/IncomeType/Upsert">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th data-orderable="false" class="w-110"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr id="@item.Id" role="row">
                        <td>@item.Code</td>
                        <td>@item.Name</td>
                        <td></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</fieldset>

<br />