@using qodeless.application.ViewModels
@model IEnumerable<DeviceGameViewModel>

<fieldset class="fieldset">
    <legend>Jogos e Dispositivos</legend>
    <div class="row-fluid">
        <div class="span6">
            @Html.AntiForgeryToken()
            <table id="dt" class="dt table-responsive-sm table table-striped table-bordered" style="width:100%"
                   data-cols="deviceid,gameid"
                   data-what="DeviceGame"
                   data-main-col="deviceid"
                   data-edit-url="/DeviceGame/Upsert"
                   data-create-url="/DeviceGame/Upsert">
                <thead>
                    <tr>
                        <th>Dispositivo</th>
                        <th>Jogo</th>
                        <th data-orderable="false" class="w-110"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr id="@item.Id" role="row">
                        <td>@item.DeviceName</td>
                        <td>@item.GameName</td>
                        <td></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</fieldset>

<br />